@page
@model Microsoft.eShopWeb.Web.Pages.Admin.CreateModel

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="post">
            <img class="esh-catalog-thumbnail" src="@Model.Modelo.PictureUri" />
                <div class="form-group">
                    <label asp-for="Modelo.Name"></label>
                    <input asp-for="Modelo.Name" class="form-control" />
                    <span asp-validation-for="Modelo.Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Modelo.Description"></label>
                    <input asp-for="Modelo.Description" class="form-control" />
                    <span asp-validation-for="Modelo.Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Modelo.CatalogBrandId"></label>
                    <select asp-for="@Model.Modelo.CatalogBrandId" asp-items="@Model.Modelo.Brands" class="form-control"></select>
                    <span asp-validation-for="Modelo.CatalogBrandId"></span>
                    </div>
                <div class="form-group">    
                    <label asp-for="@Model.Modelo.CatalogTypeId" data-title="type"></label>
                    <select asp-for="@Model.Modelo.CatalogTypeId" asp-items="@Model.Modelo.Types" class="form-control"></select>
                    <span asp-validation-for="Modelo.CatalogTypeId"></span>
                </div>
                 
                <div class="form-group">
                    <label asp-for="@Model.Modelo.Price"></label>
                    <input asp-for="Modelo.Price" class="form-control" />
                    <span asp-validation-for="Modelo.Price"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Modelo.PictureUri"></label>
                    <input asp-for="Modelo.PictureUri" class="form-control" />
                    <span asp-validation-for="Modelo.PictureUri"></span>
                </div>

                <div class="col-md-2">
                    <input type="submit" value="Save" class="esh-catalog-button" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}